In [279]:
'''
    Objetivo: Verificar se a tabela est치 de acordo com os respectivos dominios em ordem  
        Aparencia: sol, nublado e chuva
        Temperatura entre -130F e 130F
        Umidade entre 0 e 100
        Jogar sim/nao
        Vento VERDADEIRO/FALSO
'''

'\n    Objetivo: Verificar se a tabela est치 de acordo com os respectivos dominios em ordem  \n        Aparencia: sol, nublado e chuva\n        Temperatura entre -130F e 130F\n        Umidade entre 0 e 100\n        Jogar sim/nao\n        Vento VERDADEIRO/FALSO\n'

In [280]:
import pandas as pd
#Observacao dos dados da tabela
tabela_dados = pd.read_csv("tempo.csv", sep=";")
display(tabela_dados)
tabela_dados.shape

     Aparencia  Temperatura  Umidade       Vento Jogar
0          sol         -300     85.0       FALSO   nao
1          sol           80     90.0  VERDADEIRO   nao
2      nublado           83     86.0       FALSO   sim
3   trovejando           70      NaN       FALSO   sim
4        chuva           68     80.0       FALSO   sim
5        chuva           65     70.0  VERDADEIRO   nao
6        menos           64     65.0  VERDADEIRO   sim
7          sol         1220     95.0       FALSO   nao
8          sol           69     70.0       FALSO   sim
9        chuva           75    200.0         NaN   sim
10         sol           75     70.0  VERDADEIRO   sim
11     nublado           72     90.0  VERDADEIRO   sim
12       chuva           81     75.0       FALSO   sim
13       chuva           71     91.0  VERDADEIRO   nao

(14, 5)

In [281]:
#Verificacao de valores nulos na tabela 
tabela_dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [282]:
import statistics  as sts
#Tratando os valores nulos, geralmente valores numericos n칩s tratamos substituindo pela mediana
tabela_dados["Umidade"]

0      85.0
1      90.0
2      86.0
3       NaN
4      80.0
5      70.0
6      65.0
7      95.0
8      70.0
9     200.0
10     70.0
11     90.0
12     75.0
13     91.0
Name: Umidade, dtype: float64

In [283]:
mediana = sts.median(tabela_dados["Umidade"])
tabela_dados["Umidade"].fillna(mediana, inplace = True) #inplace True para validar corretamente a nossa mudanca
tabela_dados["Umidade"].isnull().sum()

0

In [284]:
#Tratando os valores nulos, geralmente valores String n칩s utilizamos a moda para a substituicao
tabela_dados.groupby(["Vento"]).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [285]:
tabela_dados["Vento"].fillna("FALSO", inplace=True)
tabela_dados["Vento"].isnull().sum()

C:\Users\Felipi\AppData\Local\Temp\ipykernel_2804\2823926351.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tabela_dados["Vento"].fillna("FALSO", inplace=True)

0

In [286]:
#Verificando os valores da coluna Aparencia 
tabela_dados.groupby(["Aparencia"]).size()

Aparencia
chuva         5
menos         1
nublado       2
sol           5
trovejando    1
dtype: int64

In [287]:
tabela_dados.loc[(tabela_dados["Aparencia"].isin([ "menos","trovejando"])),"Aparencia"] = "sol"
tabela_dados.groupby(["Aparencia"]).size()

Aparencia
chuva      5
nublado    2
sol        7
dtype: int64

In [288]:
#Verificando os valores da coluna Temperatura 
tabela_dados.groupby(["Temperatura"]).size()

Temperatura
-300     1
 64      1
 65      1
 68      1
 69      1
 70      1
 71      1
 72      1
 75      2
 80      1
 81      1
 83      1
 1220    1
dtype: int64

In [289]:
mediana = sts.median(tabela_dados["Temperatura"])
tabela_dados.loc[(~tabela_dados["Temperatura"].between(-130.0,130.0)),"Temperatura"] = mediana
tabela_dados.groupby(["Temperatura"]).size()

C:\Users\Felipi\AppData\Local\Temp\ipykernel_2804\1352452148.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '71.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  tabela_dados.loc[(~tabela_dados["Temperatura"].between(-130.0,130.0)),"Temperatura"] = mediana

Temperatura
64.0    1
65.0    1
68.0    1
69.0    1
70.0    1
71.0    1
71.5    2
72.0    1
75.0    2
80.0    1
81.0    1
83.0    1
dtype: int64

In [290]:
#Verificando os valores da coluna Umidade
tabela_dados.groupby(["Umidade"]).size()

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
85.5     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [291]:
mediana = sts.median(tabela_dados["Umidade"])
tabela_dados.loc[(tabela_dados["Umidade"]>100),"Umidade"] = mediana
tabela_dados.groupby(["Umidade"]).size()

Umidade
65.00    1
70.00    3
75.00    1
80.00    1
85.00    1
85.25    1
85.50    1
86.00    1
90.00    2
91.00    1
95.00    1
dtype: int64

In [292]:
tabela_dados.groupby(["Vento"]).size()

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [293]:
tabela_dados.groupby(["Jogar"]).size()

Jogar
nao    5
sim    9
dtype: int64